<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head th:include="fragments::head(title='Hacker Polls - Edit Profile', description='Edit profile of existing candidate')">
    </head>
    <body>
		<div th:replace="fragments::navigation"></div>
		
        <!-- Content -->
        <div class="container py-2">
        	<h2 class="text-center py-2">Edit Profile</h2>
        	<form method="POST" th:object=${profile} th:action="@{edit}">
        		<h3 class="text-center" th:text="*{name}"></h3>
        		<div class="form-group w-50 mx-auto mt-2">
        			<input type="hidden" th:value="*{username}" th:field="*{username}" id="username" name="username"></input>
        			<input type="hidden" th:value="*{password}" th:field="*{password}" id="password" name="password"></input>
        			<input type="hidden" th:value="*{firstName}" th:field="*{firstName}" id="firstName" name="firstName"></input>
        			<input type="hidden" th:value="*{lastName}" th:field="*{lastName}" id="lastName" name="lastName"></input>
					<div th:class="${currentUser.username=='admin'?'row':'d-none'}">
						<div class="col">
							<label for="votes">Poll status</label>
							<input th:if="${currentUser.username!='admin'}" type="hidden" th:value="*{pollStatus}" th:field="*{pollStatus}" id="pollStatus" name="pollStatus"></input>
		        			<select	th:if="${currentUser.username=='admin'}" th:value="*{pollStatus}" th:field="*{pollStatus}" class="custom-select" id="pollStatus" name="pollStatus">
		        				<option value=true>Active</option>
		        				<option value=false>Inactive</option>
		        			</select>
                    	</div>
   					</div>
					<div th:class="${currentUser.username=='admin'?'row mt-3':'d-none'}">
						<div class="col">
							<label for="votes">Number of votes</label>
		        			<input th:type="${currentUser.username=='admin'? 'number' : 'hidden'}" min=0  class="form-control" id="votes" name="votes"
		        				th:value="*{votes}"
		        				th:field="*{votes}"
		        				th:attrappend="class=${#fields.hasErrors('votes') ? ' is-invalid' : ''}"></input>
                           <div class="invalid-feedback" th:if="${#fields.hasErrors('votes')}">
                               <span th:errors="*{votes}"></span>
                           </div>
                        </div>
						<div class="col">
	                        <label for="votes">Voted? (voting status)</label>
							<input th:if="${currentUser.username!='admin'}" type="hidden" th:value="*{voted}" th:field="*{voted}" id="votes" name="voted"></input>
		        			<select	th:if="${currentUser.username=='admin'}" th:value="*{voted}" th:field="*{voted}" class="custom-select" name="voted" id="voted">
		        				<option value=true>Yes</option>
		        				<option value=false>No</option>
		        			</select>
                        </div>
                    </div>
					<div class="row mt-3">
						<div class="col">
	                        <label for="challengesSolved">Challenges Solved</label>
	                        <input type="number" min=1  class="form-control" id="challengesSolved" name="challengesSolved" placeholder="Challenges Solved" 
	                            th:value="*{challengesSolved}"
	                            th:field="*{challengesSolved}"
	                            th:attrappend="class=${#fields.hasErrors('expertiseLevel') ? ' is-invalid' : ''}"></input>
	                        <div class="invalid-feedback" th:if="${#fields.hasErrors('expertiseLevel')}">
	                            <span th:errors="*{challengesSolved}"></span>
	                        </div>							
						</div>
						<div class="col">
                           <label for="expertiseLevel">Expertise Level (1 to 5)</label>
                           <input type="number" min=1 max=5 class="form-control" id="expertiseLevel" name="expertiseLevel" placeholder="Expertise Level" 
                               th:value="*{expertiseLevel}"
                               th:field="*{expertiseLevel}"
                               th:attrappend="class=${#fields.hasErrors('expertiseLevel') ? ' is-invalid' : ''}"></input>
                           <div class="invalid-feedback" th:if="${#fields.hasErrors('expertiseLevel')}">
                               <span th:errors="*{expertiseLevel}"></span>
                           </div>							
						</div>
					</div>
					<div th:if="${!#lists.isEmpty(profile.skills)}">
						<div class="row mt-3">
							<div class="col text-center">
								<h5>Skill Name</h5>
							</div>
							<div class="col text-center">
								<h5>Expertise (1 to 5)</h5>
							</div>						
						</div>
						<div class="row mt-2" th:each="skill, itemStat : *{skills}">
							<div class="col">
								<input type="text" class="form-control"
									th:value="*{skills[__${itemStat.index}__].name}"
									th:field="*{skills[__${itemStat.index}__].name}"
									th:attrappend="class=${#fields.hasErrors('skills[__${itemStat.index}__].name') ? ' is-invalid' : ''}"></input>
		                           <div class="invalid-feedback" th:if="${#fields.hasErrors('skills[__${itemStat.index}__].name')}">
		                               <span th:errors="*{skills[__${itemStat.index}__].name}"></span>
		                           </div>	
	   						</div>
							<div class="col">
								<input type="number" class="form-control" min="1" max="5"
									th:value="*{skills[__${itemStat.index}__].expertise}"
									th:field="*{skills[__${itemStat.index}__].expertise}"
									th:attrappend="class=${#fields.hasErrors('skills[__${itemStat.index}__].expertise') ? ' is-invalid' : ''}"></input>
		                           <div class="invalid-feedback" th:if="${#fields.hasErrors('skills[__${itemStat.index}__].expertise')}">
		                               <span th:errors="*{skills[__${itemStat.index}__].expertise}"></span>
		                           </div>	
	   						</div>
						</div>
					</div>
					<div class="row">
	                   <div class="w-fit-content mt-3 mx-auto">
	                       <button class="btn btn-primary btn-lg" type="submit" id="updateProfile">Update Profile</button>
	                   </div>
                   </div>
        		</div>
        	</form>
       	</div>
       	<hr>
       	<div class="container py-2">
        	<div class="row w-25 mx-auto text-center">
	        	<h3 class="d-inline text-center">Add new skill(s)</h3>
				<input class="mx-auto w-25 form-control" id="skillsN" type="number" min="1" th:value="${param.skills}"></input>
        	</div>
        	<form method="POST" th:object=${skillsDto} th:action="@{addSkill(candidate=${profile.username})}">
	        	<div class="form-group w-50 mx-auto mt-2">
					<div class="row">
						<div class="col text-center">
							<h5>Skill Name</h5>
						</div>
						<div class="col text-center">
							<h5>Expertise (1 to 5)</h5>
						</div>
					</div>
					<div class="row mt-2" th:each="skill, itemStat : *{skills}">
						<div class="col" >
							<input class="form-control mx-auto" type="text" placeholder="Name of the skill" th:field="*{skills[__${itemStat.index}__].name}" th:attrappend="class=${#fields.hasErrors('skills[__${itemStat.index}__].name') ? ' is-invalid' : ''}"></input>
                            <div class="invalid-feedback" th:if="${#fields.hasErrors('skills[__${itemStat.index}__].name')}">
                                <span th:errors="*{skills[__${itemStat.index}__].name}"></span>
                            </div>
						</div>
						<div class="col">
							<input class="w-75 form-control mx-auto" type="number" min="1"  max="5" placeholder="Expertise" th:field="*{skills[__${itemStat.index}__].expertise}" th:attrappend="class=${#fields.hasErrors('skills[__${itemStat.index}__].expertise') ? ' is-invalid' : ''}"></input>
                            <div class="invalid-feedback" th:if="${#fields.hasErrors('skills[__${itemStat.index}__].expertise')}">
                                <span th:errors="*{skills[__${itemStat.index}__].expertise}"></span>
                            </div>
						</div>
					</div>
	                <div class="w-fit-content mt-3 mx-auto">
	                    <button class="btn btn-primary btn-lg" type="submit" id="addSkill">Add Skill(s)</button>
	                </div>
	            </div>
        	</form>
        </div>
        
        <div th:replace="fragments::javascripts"></div>
    </body>
</html>