<html xmlns:th="http://www.thymeleaf.org">
	<head>
	</head>
	<body>
		<div th:fragment="head(title, description)">
	        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	        <meta name="description" th:content="${description}">
	        <meta name="author" content="Kameswaran Ganesh">
	        
	        <title th:text="${title}"></title>
	        
	        <!-- Bootstrap core CSS -->
	        <link href="/webjars/bootstrap/4.3.1/css/bootstrap.css" rel="stylesheet">
	        <!-- Custom css -->
	        <link href="/css/main.css" rel="stylesheet">
	    </div>
		<div th:fragment="navigation">
	        <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
	            <div class="container">
	              <a class="navbar-brand" href="/">Hacker Polls</a>
	              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
	                <span class="navbar-toggler-icon"></span>
	              </button>
	        
	              <div class="collapse navbar-collapse" id="navbarsExampleDefault" th:switch="${currentUser} == null">
	                <ul class="navbar-nav mr-auto">
	                  <li class="nav-item active">
	                    <a class="nav-link" href="#">by Kameswaran Ganesh <span class="sr-only">(current)</span></a>
	                  </li>
	                  <li class="nav-item">
	                    <a class="nav-link" href="https://github.com/kameswarang/hacker_polls">this.Github</a>
	                  </li>
	                  <li class="nav-item">
	                    <a class="nav-link" href="https://www.linkedin.com/in/kameswarang">my.LinkedIn</a>
	                  </li>
	                </ul>
	                <div th:case="true">
		                <button type="submit" class="btn btn-secondary my-2 my-sm-0 mx-1">
							<a th:href="@{/register}" class="text-decoration-none text-white">Register as candidate</a>
		                </button>
		                <button type="submit" class="btn btn-primary my-2 my-sm-0 mx-1">
							<a th:href="@{/login}" class="text-decoration-none text-white">Login</a>
		                </button>
	                </div>
	                <div th:case="false">
		                <span class="text-white my-2 my-sm-0 mx-1" th:text="|Logged in as, ${currentUser.getName()}|"></span>
	                    <button type="submit" class="btn btn-primary my-2 my-sm-0 mx-1">
							<a th:href="${currentUser.username == 'admin' ? '/admin/poll' : '/user/poll'}" class="text-decoration-none text-white">Vote in the poll</a>
	                    </button>
		                <form class="d-inline" method="POST" th:action="@{/logout}">
		                    <button type="submit" class="btn btn-secondary my-2 my-sm-0 mx-1">Logout</button>
		                </form>    
	                </div>
	              </div>
	            </div>
	        </nav>
		</div>
        <div th:fragment="javascripts">
	        <!-- jQuery -->
	        <script src="/webjars/jquery/3.4.1/jquery.slim.min.js"></script>
	        <!-- Bootstrap js -->
	        <script src="/webjars/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
	        <!-- Custom js -->
	        <script src="/js/main.js"></script>
        </div>
	</body>
</html>